
.testContainer{
  color:rgb(16, 67, 80);
  text-align:center;
  align-content: center;
  height: 2000px;
}
.testContainer  h1{
   border:3px solid;
   text-align:center;
}
.col-4 {
  padding: 4px;
}
img {
  width:100%;
  border:2px transparent;
}
img:hover{
  box-shadow: 5px 5px black; 
}

.purple {
  border-color: 5px solid rgb(122, 31, 122);
  border-radius: 6px;
    background-color: rgb(228, 198, 248);
}
.blackwhite {
  background-color: lightslategray (0, 0, 0);
  border-radius: 6px;
  color: black
}
.yellow{
 background-color: lemonchiffon;
 color: rgb(211, 177, 64);
}
.blue{
  background-color: rgb(201, 235, 247);
  color: rgb(18, 33, 99);
}
.red{
  background-color: rgb(248, 211, 231);
  color: rgb(206, 0, 10)
}
.pink{
  background-color: rgb(250, 216, 233);
  color: rgb(190, 11, 80)
}
.orange{
 background-color: rgb(241, 190, 131);
 color: rgb(248, 124, 8)
}
