div.navBar img {
  height:10%;
  width:10%;
}
div.navBar {
  font-size:200%;
  font: white;
  border:4px solid black;
  background: rgb(68, 68, 68);
  
  
};

.features {
  background-image:url("i.imgur.com/991uUWh.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:auto;
  height:auto;
  
}
.features {
border:4px solid black;
}

div.imageContainer {
size:150%
}


/* Style the navbar */
#navbar {
  overflow: hidden;
}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0; 
  width: 100%; 
  border:4px solid black;
  background: rgb(68, 68, 68);
}


