.center {
  text-align: center;
}
.card-title {
  font-size: 120px;
  color: white
}
.card-img-overlay {
  padding-top: 25%;
}
.card-text {
  color: black;
  text-align: left;
  font-size: 24px
}
.small-card-title{
  font-size: 50px;
  color: black;
}
.card {
  width: 100%;
  height: 100%;
}
.main-card-text {
  font-size: 20px;
}
.car-img {
  height: 100%
}
